@media (max-width:480px){
    .container {
       display: flex;
       flex-direction: column;
    }
}
h2 {
    margin: 10px;
    padding: 10px;
    color: midnightblue;
    text-align: center;      
    text-transform: uppercase;    
}
.form {
    padding: 10px;
}
.container {
    display: flex;
    justify-content: center;    
}
div.container {
    padding-top: 15px;
    padding-bottom: 40px;
}
input{
    margin: 5px;
    padding: 5px;   
}
label {
    display: inline-block;
    width: 120px;
    margin: 5px;
}
#submit {
    margin: 30px;
    padding: 10px 20px;
    background-color: midnightblue;
    border: none;
    color: white;    
    font-weight: bold;    
    cursor: pointer;
}
.submit-btn {
    display: flex;
    justify-content: center;
}